In [1]:
import pandas as pd

Se cargan los archivos csv en dataframes y se realiza una vista previa de los datos, se eliminan las columnas que no se van a utilizar y se guarda el dataframe procesado como archivo CSV en la carpeta processed_data

In [3]:
df_provincias=pd.read_csv("raw_data\provincias.csv")
df_provincias.head()

,categoria,centroide_lat,centroide_lon,fuente,id,iso_id,iso_nombre,nombre,nombre_completo
0,Ciudad Autónoma,-34.614442,-58.445876,IGN,2,AR-C,Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires
1,Provincia,-38.641983,-70.119897,IGN,58,AR-Q,Neuquén,Neuquén,Provincia del Neuquén
2,Provincia,-33.761104,-66.025231,IGN,74,AR-D,San Luis,San Luis,Provincia de San Luis
3,Provincia,-30.708823,-60.950687,IGN,82,AR-S,Santa Fe,Santa Fe,Provincia de Santa Fe
4,Provincia,-29.684937,-67.181758,IGN,46,AR-F,La Rioja,La Rioja,Provincia de La Rioja

In [ ]:
df_provincias.drop(columns=['categoria','centroide_lat','centroide_lon','fuente','iso_id'])

In [9]:
df_provincias=df_provincias[['id','nombre']]

In [11]:
df_provincias.to_csv("processed_data\provincias.csv",index=False)

In [17]:
df_explotaciones=pd.read_csv("raw_data\explotaciones_ap_por_provincia_cna02.csv", encoding="Latin-1")
df_explotaciones.head()

   anio     provincia  provincia_id  EAP_con_limites   hectareas
0  2002  Buenos Aires             6            51107  25788669.5
1  2002     Catamarca            10             6694   1588805.7
2  2002       Córdoba            14            25620  12244257.8
3  2002    Corrientes            18            14673   6860573.0
4  2002         Chaco            22            15694   5899731.8

In [18]:
df_explotaciones.drop(columns=['anio','provincia'],inplace=True)

In [19]:
df_explotaciones.to_csv("processed_data\explotaciones_ap_por_provincia.csv", index=False)

In [7]:
df_mano_de_obra=pd.read_csv("raw_data\mano_de_obra_ap_por_provincia_cna02.csv", encoding="Latin-1")
df_mano_de_obra.head()

,anio,provincia,provincia_id,productor,familiar,trabajador,residente,sin_discriminar
0,2002,Buenos Aires,6,22765,38360,41639,48208,165.0
1,2002,Catamarca,10,6234,19923,1253,931,NaN
2,2002,Córdoba,14,15024,35781,18151,27089,17.0
3,2002,Corrientes,18,10504,35129,8890,10972,108.0
4,2002,Chaco,22,13683,47198,4485,10608,NaN

In [20]:
df_mano_de_obra.drop(columns=['anio','provincia'],inplace=True)

In [21]:
df_mano_de_obra.to_csv("processed_data\mano_de_obra_ap_por_provincia.csv", index=False)