In [1]:
import pandas as pd

Se cargan los archivos csv en dataframes y se realiza una vista previa de los datos

In [44]:
df_avena = pd.read_csv("raw_data\scpr\\avena_scpr.csv", encoding= "Latin-1")
df_avena.head()

,cultivo_nombre,anio,campania,provincia_nombre,provincia_id,departamento_nombre,departamento_id,superficie_sembrada_ha,superficie_cosechada_ha,produccion_tm,rendimiento_kgxha
0,avena,1923,1923/1924,Buenos Aires,6,Adolfo Alsina,6007.0,8000,6700.0,6700.0,1000.0
1,avena,1923,1923/1924,Buenos Aires,6,Adolfo Gonzales Chaves,6014.0,84000,78000.0,124800.0,1600.0
2,avena,1923,1923/1924,Buenos Aires,6,Alberti,6021.0,4700,4200.0,4494.0,1070.0
3,avena,1923,1923/1924,Buenos Aires,6,Ayacucho,6042.0,1780,1553.0,1508.0,971.0
4,avena,1923,1923/1924,Buenos Aires,6,Azul,6049.0,10000,8500.0,11390.0,1340.0

In [45]:
df_centeno = pd.read_csv("raw_data\scpr\centeno_scpr.csv", encoding= "Latin-1")
df_centeno.head()

,cultivo_nombre,anio,campania,provincia_nombre,provincia_id,departamento_nombre,departamnto_id,superficie_sembrada_ha,superficie_cosechada_ha,produccion_tn,rendimiento_kgxha
0,centeno,1923,1923/1924,Buenos Aires,6,Adolfo Alsina,6007.0,9600,9400.0,6204.0,600.0
1,centeno,1923,1923/1924,Buenos Aires,6,Adolfo Gonzales Chaves,6014.0,200,182.0,167.0,920.0
2,centeno,1923,1923/1924,Buenos Aires,6,Azul,6049.0,100,80.0,77.0,960.0
3,centeno,1923,1923/1924,Buenos Aires,6,Bahía Blanca,6056.0,200,190.0,148.0,780.0
4,centeno,1923,1923/1924,Buenos Aires,6,Baradero,6070.0,5,5.0,4.0,820.0

In [13]:
#Se detecta un error de tipeo en el campo 'departamnto_id'. Se corrige
df_centeno.rename(columns={'departamnto_id' : 'departamento_id'}, inplace=True)

In [46]:
df_girasol = pd.read_csv("raw_data\scpr\girasol_scpr.csv", encoding= "Latin-1")
df_girasol.head()

,cultivo_nombre,anio,campania,provincia_nombre,provincia_id,departamento_nombre,departamento_id,superficie_sembrada_ha,superficie_cosechada_ha,produccion_tm,rendimiento_kgxha
0,girasol,1969,1969/70,Buenos Aires,6,Adolfo Alsina,6007.0,10000,10000,9000,900
1,girasol,1969,1969/70,Buenos Aires,6,Adolfo Gonzales Chaves,6014.0,1500,1350,1147,850
2,girasol,1969,1969/70,Buenos Aires,6,Alberti,6021.0,14000,14000,12600,900
3,girasol,1969,1969/70,Buenos Aires,6,Ayacucho,6042.0,14000,13300,8645,650
4,girasol,1969,1969/70,Buenos Aires,6,Azul,6049.0,11000,9900,7425,750

In [47]:
df_maiz = pd.read_csv("raw_data\scpr\maiz_scpr.csv", encoding= "Latin-1")
df_maiz.head()

,cultivo_nombre,anio,campania,provincia_nombre,provincia_id,departamento_nombre,departamento_id,superficie_sembrada_ha,superficie_cosechada_ha,produccion_tm,rendimiento_kgxha
0,maíz,1923,1923/1924,Buenos Aires,6,25 de Mayo,6854.0,40000,NaN,120000.0,3000.0
1,maíz,1923,1923/1924,Buenos Aires,6,9 de Julio,6588.0,47000,NaN,134300.0,2857.0
2,maíz,1923,1923/1924,Buenos Aires,6,Adolfo Alsina,6007.0,22000,NaN,19000.0,864.0
3,maíz,1923,1923/1924,Buenos Aires,6,Adolfo Gonzales Chaves,6014.0,2100,NaN,1680.0,800.0
4,maíz,1923,1923/1924,Buenos Aires,6,Alberti,6021.0,23000,NaN,66200.0,2878.0

In [48]:
df_mani = pd.read_csv("raw_data\scpr\mani_scpr.csv", encoding= "Latin-1")
df_mani.head()

,cultivo_nombre,anio,campania,provincia_nombre,provincia_id,departamento_nombre,departamento_id,superficie_sembrada_ha,superficie_cosechada_ha,produccion_tm,rendimiento_kgxha
0,maní,1927,1927/1928,Chaco,22,Campo del Cielo,22105.0,4213.0,4213.0,3160.0,750.0
1,maní,1927,1927/1928,Chaco,22,Napalpí,22049.0,465.0,465.0,348.0,750.0
2,maní,1927,1927/1928,Chaco,22,Resistencia,22140.0,192.0,192.0,144.0,750.0
3,maní,1927,1927/1928,Chaco,22,Coronel Martínez de Hoz,22084.0,71.0,71.0,53.0,750.0
4,maní,1927,1927/1928,Chaco,22,Bermejo,22014.0,36.0,36.0,27.0,750.0

In [49]:
df_soja = pd.read_csv("raw_data\scpr\soja_scpr.csv", encoding= "Latin-1")
df_soja.head()

,cultivo_nombre,anio,campania,provincia_nombre,provincia_id,departamento_nombre,departamento_id,superficie_sembrada_ha,superficie_cosechada_ha,produccion_tm,rendimiento_kgxha
0,soja,1969,1969/70,Buenos Aires,6,Arrecifes,6077.0,150,150,191,1273
1,soja,1969,1969/70,Buenos Aires,6,Capitán Sarmiento,6140.0,50,50,65,1300
2,soja,1969,1969/70,Buenos Aires,6,Colón,6175.0,120,120,144,1200
3,soja,1969,1969/70,Buenos Aires,6,Pergamino,6623.0,600,600,780,1300
4,soja,1969,1969/70,Buenos Aires,6,Rojas,6686.0,150,150,170,1133

Se eliminan las columnas que no vamos a utilizar

In [16]:
df_avena = df_avena.drop(['campania', 'provincia_nombre', 'departamento_nombre', 'departamento_id'], axis=1)
df_centeno = df_centeno.drop(['campania', 'provincia_nombre', 'departamento_nombre', 'departamento_id'], axis=1)
df_girasol = df_girasol.drop(['campania', 'provincia_nombre', 'departamento_nombre', 'departamento_id'], axis=1)
df_maiz = df_maiz.drop(['campania', 'provincia_nombre', 'departamento_nombre', 'departamento_id'], axis=1)
df_mani = df_mani.drop(['campania', 'provincia_nombre', 'departamento_nombre', 'departamento_id'], axis=1)
df_soja = df_soja.drop(['campania', 'provincia_nombre', 'departamento_nombre', 'departamento_id'], axis=1)

Se filtran los registros de acuerdo al periodo correspondiente a nuestro analisis

In [24]:
df_avena = df_avena[(df_avena['anio'] >= 1997) & (df_avena['anio'] <= 2017)]

In [25]:
df_centeno = df_centeno[(df_centeno['anio'] >= 1997) & (df_centeno['anio'] <= 2017)]

In [26]:
df_girasol = df_girasol[(df_girasol['anio'] >= 1997) & (df_girasol['anio'] <= 2017)]

In [27]:
df_maiz = df_maiz[(df_maiz['anio'] >= 1997) & (df_maiz['anio'] <= 2017)]

In [28]:
df_mani = df_mani[(df_mani['anio'] >= 1997) & (df_mani['anio'] <= 2017)]

In [29]:
df_soja = df_soja[(df_soja['anio'] >= 1997) & (df_soja['anio'] <= 2017)]

Se chequean valores nulos

In [30]:
df_avena.isnull().sum()

cultivo_nombre               0
anio                         0
provincia_id                 0
superficie_sembrada_ha       0
superficie_cosechada_ha    660
produccion_tm              660
rendimiento_kgxha          660
dtype: int64

In [31]:
df_centeno.isnull().sum()

cultivo_nombre               0
anio                         0
provincia_id                 0
superficie_sembrada_ha       0
superficie_cosechada_ha    248
produccion_tn              249
rendimiento_kgxha          249
dtype: int64

In [32]:
df_girasol.isnull().sum()

cultivo_nombre             0
anio                       0
provincia_id               0
superficie_sembrada_ha     0
superficie_cosechada_ha    0
produccion_tm              0
rendimiento_kgxha          0
dtype: int64

In [33]:
df_maiz.isnull().sum()

cultivo_nombre             0
anio                       0
provincia_id               0
superficie_sembrada_ha     0
superficie_cosechada_ha    1
produccion_tm              2
rendimiento_kgxha          2
dtype: int64

In [34]:
df_mani.isnull().sum()

cultivo_nombre             0
anio                       0
provincia_id               0
superficie_sembrada_ha     0
superficie_cosechada_ha    0
produccion_tm              0
rendimiento_kgxha          0
dtype: int64

In [35]:
df_soja.isnull().sum()

cultivo_nombre             0
anio                       0
provincia_id               0
superficie_sembrada_ha     0
superficie_cosechada_ha    0
produccion_tm              0
rendimiento_kgxha          0
dtype: int64

Se identifica que en algunas tablas los casos que registraron siembra pero no cosecha se representan con 0 y en otras con null.  Con el fin de evitar inconsistencias y unificar nuestro conjunto de datos usaremos el valor ‘0’ para la situación mencionada en todas las tablas, reemplazando ‘null’ por ‘0’ en los casos que sea necesario.

In [36]:
df_avena = df_avena.fillna(0)
df_centeno = df_centeno.fillna(0)
df_girasol = df_girasol.fillna(0)
df_maiz = df_maiz.fillna(0)
df_mani = df_mani.fillna(0)
df_soja = df_soja.fillna(0)

Con los dataframes procesados y todos con la misma estructura, se procede a concatenarlos.

In [37]:
df_cultivos = pd.concat([df_avena, df_centeno, df_girasol, df_maiz, df_mani, df_soja], ignore_index=True)

Renombramos las columnas ‘cultivo_nombre’ a ‘producto’ y ‘anio’ a ‘año’ para tener consistencia entre todas nuestras tablas.

In [41]:
df_cultivos.rename(columns={'cultivo_nombre' : 'producto', 'anio' : 'año'}, inplace=True)

Guardamos el dataframe procesado como archivo CSV en la carpeta processed_data

In [43]:
df_cultivos.to_csv("processed_data\scpr.csv", index=False)